<div class="col-md-8">
<div class="image">
  <%= link_to image_tag('https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xpa1/t31.0-8/12621978_784274471716559_7590748311525337166_o.jpg')%></div>
  </div>
    <div class="col-md-4">
   <h1 style="color:#ffffff;">Welcome To Manoise</h1>
    <p style="color:#ffffff;"> Master has to approve your noise</p>
  </br>
  <p><%= link_to "Sign In", sign_in_path, class: "btn btn-primary btn-lg" %></p>
</div>
