<nav class="navbar navbar-inverse navbar-fixed-top">
 <div class="container-fluid">
   <div class="navbar-header">
    <%= link_to "Continue", sign_in_path, class: "navbar-brand", style:"color:#D1142A" %>
   </div>
 </div>
</nav>
    <div class="image">
    <%= link_to image_tag('http://manostheriseoftorgo.com/images/TORGO.jpg')%></div>
  </div>
