
  <div class="image">
  <%= link_to image_tag 'Torgo.jpg',  class: "img-responsive";%>
</div>
  <div class="col-xs-4">
    <div class="continue">
    <p><%= link_to "Continue", sign_in_path, class: "btn btn-primary btn-lg" %></p>
  </div>
