
  <div class="col-lg-4">
    <div class="continue">
    <p><%= link_to "Continue", sign_in_path, class: "btn btn-primary " %></p>
  </div>
  </div>
    <div class="image">
    <%= image_tag 'TORGO.jpg', class: 'img-responsive'%>
  </div>
