@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'home';

.body{
  background: #000000;
}
.container{
  margin-top: 50px;
}

ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  display: inline;
  padding-left:0px;
}

li{
  padding-left:0px;
}

.btn-danger{
  display: inline;
}

h1{
  font-family: 'Francois One', sans-serif;
}


.image{
  margin-top:-80px;
  margin-left: -30px;
  background-size: cover;

}

.continue{
  z-index: 3;
  position: relative;
  left:70px;
  top:-130px;
}

.col-lg-4{
  position: absolute;
  top:-50px;
  left:50px;
}

body > div > img {
  position:absolute;
  top:0px;
  left:0px;
}

.navbar-inverse .navbar-nav > li > a{
  color:#D1142A;
}

body{
  background-color:#ecf0f1;
}

.btn-primary{
  background-color:#D11529;
  border-color: #D11529;
}

.btn-primary:hover{
  background-color:#c0392b;
  border-color:#c0392b;
}

@media screen and (max-width: 768px) {
  .continue{
   left: 0px;
   }
}

 @media screen and (max-width: 400px) {
     font-size: 13px;
     .center-tagline {
       font-size: 36px;
        .continue{
         }
       }
     }
