@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'home';

.container{
  margin-top: 50px;
}

.body{
  background: #000000;
}

ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  display: inline-block;
  float:left;
}
